<section class="section-business">
  <div class="container business-container">
    <div class="container-business-text">
      <h2 class="section-business-title">
        <span class="section-business-title-span"
          >Effortless Validation for</span
        >
        Management
      </h2>
      <p class="section-business-text one">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="section-business-list">
        <li>
          <h3 class="section-business-subtitle">Accessory makers</h3>
          <p class="section-business-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="section-business-subtitle">Alterationists</h3>
          <p class="section-business-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      src="./images/pictures/management-img.png"
      alt="folders and letters"
      width="540"
      height="500"
    />
  </div>
</section>
