<section class="section-collaboration">
  <div class="container collaboration-container">
    <div class="container-collaboration-text">
      <h2 class="collaboration-title">
        <span class="collaboration-title-span">Optimisation for</span>
        Collaborative
      </h2>
      <p class="collaboration-text one">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul class="collaboration-list">
        <li class="collaboration-list-item">
          <h3 class="collaboration-list-subtitle">Accessory makers</h3>
          <p class="collaboration-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="collaboration-list-item">
          <h3 class="collaboration-list-subtitle">Alterationists</h3>
          <p class="collaboration-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      src="./images/pictures/collaboration-img.png"
      alt="folder with files"
      width="540"
      height="500"
    />
  </div>
</section>
