<section class="section-feature">
  <div class="container">
    <h2 class="feature-title">Product was Built Specifically for You</h2>
    <ul class="feature-list">
      <li class="feature-list-item">
        <div class="feature-box first">
          <svg class="icon-feature" width="11" height="18">
            <use href="./images/icons.svg#point"></use>
          </svg>
        </div>
        <h3 class="feature-list-subtitle">First click tests</h3>
        <p class="feature-list-text">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-box second2">
          <svg class="icon-feature" width="18" height="18">
            <use href="./images/icons.svg#wive"></use>
          </svg>
        </div>
        <h3 class="feature-list-subtitle">Design surveys</h3>
        <p class="feature-list-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-box third">
          <svg class="icon-feature" width="16" height="18">
            <use href="./images/icons.svg#heart"></use>
          </svg>
        </div>
        <h3 class="feature-list-subtitle">Preference tests</h3>
        <p class="feature-list-text">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-box four">
          <svg class="icon-feature" width="14" height="18">
            <use href="./images/icons.svg#clock"></use>
          </svg>
        </div>
        <h3 class="feature-list-subtitle">Five second tests</h3>
        <p class="feature-list-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="feature-btn">SIGN UP NOW</button>
  </div>
</section>
