<section class="section-hero">
  <div class="container hero-container">
    <div class="wrapper">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list">
        <li class="hero-list-item">
          <button type="button" class="hero-list-btn">Get started</button>
        </li>
        <li class="hero-list-item">
          <button type="button" class="hero-list-btn2">Watch the Video</button>
        </li>
      </ul>
    </div>
    <img
      src="./images/pictures/hero-img.png"
      alt="peoples"
      width="610"
      height="555"
    />
  </div>
</section>
