<section class="section-newsfeed">
  <div class="container section-newsfeed-container">
    <h2 class="section-newsfeed-title">Contents Strategies</h2>
    <p class="section-newsfeed-text">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="section-newsfeed-list">
      <li class="section-newsfeed-list-item">
        <img
          src="./images/photo/photo/image.png"
          alt="the person writes"
          width="350"
          height="185"
        />
        <p class="section-newsfeed-list-text">
          By
          <span class="section-newsfeed-list-text-span">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="section-newsfeed-list-subtitle">
          Increasing Prosperity With Positive Thinking
        </h3>
      </li>
      <li class="section-newsfeed-list-item">
        <img
          src="images/photo/photo/Bitmap-1.png"
          alt="people and big windows"
          width="350"
          height="185"
        />
        <p class="section-newsfeed-list-text">
          By
          <span class="section-newsfeed-list-text-span">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="section-newsfeed-list-subtitle">
          Motivation Is The First Step To Success
        </h3>
      </li>
      <li class="section-newsfeed-list-item">
        <img
          src="images/photo/photo/Bitmap.png"
          alt="sky and skyscrapers"
          width="350"
          height="185"
        />
        <p class="section-newsfeed-list-text">
          By
          <span class="section-newsfeed-list-text-span">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="section-newsfeed-list-subtitle">
          Success Steps For Your Personal Or Business
        </h3>
      </li>
    </ul>
  </div>
</section>
