<section class="section-support">
  <div class="container support-container">
    <img
      src="./images/pictures/support-img.png"
      alt="laptop"
      width="540"
      height="500"
    />
    <div class="container-support-text">
      <h2 class="support-title">
        <span class="support-title-span">Easier decision making for</span>
        Customer Support
      </h2>
      <p class="support-text one">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <p class="support-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <p class="support-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <p class="support-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
