.section-feature {
  padding: 50px 0;
}
.feature-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
  max-width: 539px;
  margin: 0 auto 50px;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.spes.feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.feature-list-item {
  width: calc((100% - 90px) / 4);
}
.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
}
.first {
  background-color: #02897a;
}

.second2 {
  background: #4d8dff;
}

.third {
  background: #740a76;
}

.four {
  background: #f03e3d;
}

.icon-feature {
  fill: #fff;
}
.feature-list-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.feature-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.feature-btn {
  display: block;
  margin: 50px auto 0;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  width: 175px;
  height: 53px;
}
